@use "variables";
/* Start:: Products */
.product-icons {
  display: none;
}
.product-image img {
  background-color: variables.$light;
}
.product-card {
  position: relative;
  &:hover {
    .product-icons {
      display: block;
      .wishlist,
      .cart,
      .view {
        position: absolute;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: variables.$default-radius;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 0.9rem;
        }
      }
      .wishlist {
        background-color: rgba(var(--danger-rgb), 0.2);
        color: variables.$danger;
        inset-block-start: 1.75rem;
        inset-inline-end: 1.75rem;
      }
      .cart {
        background-color: rgba(var(--primary-rgb), 0.2);
        color: variables.$primary;
        inset-block-start: 4rem;
        inset-inline-end: 1.75rem;
      }
      .view {
        background-color: rgba(var(--success-rgb), 0.2);
        color: variables.$success;
        inset-block-start: 6.25rem;
        inset-inline-end: 1.75rem;
      }
    }
  }
}
.ecommerce-more-link {
  position: relative;
  padding: 0.3rem 1.5rem 0.3rem 0.75rem;
  background-color: variables.$primary-01;
  color: variables.$primary;
  border-radius: variables.$default-radius;
  font-weight: 500;
  font-size: 0.625rem;
  &:hover {
    color: variables.$primary;
  }
  &:before {
    position: absolute;
    content: "\f64d";
    inset-inline-end: 0.5rem;
    font-family: bootstrap-icons !important;
    inset-block-start: 0.313rem;
    font-weight: bold;
  }
  &:after {
    position: absolute;
    content: "\F2EA";
    inset-inline-end: 0.5rem;
    font-family: bootstrap-icons !important;
    inset-block-start: 0.313rem;
    font-weight: bold;
    display: none;
  }
}
[dir="rtl"] {
  .ecommerce-more-link {
    padding: 0.3rem 0.75rem 0.3rem 1.5rem;
    &::before,&:after {
      inset-inline-end: 0.5rem;
    }
  }
}
.ecommerce-more-link[aria-expanded="true"] {
  &:after {
    display: block;
  }
  &:before {
    display: none;
  }
}
.products-navigation-card {
  .form-check-label {
    font-size: 0.813rem;
    font-weight: 500;
  }
}
/* End:: Products */

/* Start:: Product Details */
.swiper-view-details {
  .swiper-slide {
    background-color: variables.$custom-white !important;
    border: 1px solid variables.$default-border;
    border-radius: variables.$default-radius !important;
    &.swiper-slide-thumb-active {
      background-color: variables.$light !important;
    }
  }
}
.swiper-preview-details {
  .swiper-button-next {
    background-color: variables.$black-1;
    color: variables.$custom-white !important;
  }
  .swiper-button-prev {
    background-color: variables.$black-1;
    color: variables.$custom-white !important;
  }
}
.product-colors {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.125rem;
  border: 1px solid variables.$default-border;
  margin-inline-end: 0.5rem;
  background-color: variables.$light;
  i {
    font-size: 1.5rem;
  }
  &.color-2 {
    &.selected {
      border: 0.125rem solid variables.$white;
    }
    i {
      color: variables.$white;
    }
  }
  &.color-4 {
    &.selected {
      border: 0.125rem solid #514f4d;
    }
    i {
      color: #514f4d;
    }
  }
  &.color-1 {
    &.selected {
      border: 0.125rem solid #e9d2d1;
    }
    i {
      color: #e9d2d1;
    }
  }
  &.color-3 {
    &.selected {
      border: 0.125rem solid #c2c3c7;
    }
    i {
      color: #c2c3c7;
    }
  }
  &.color-5 {
    &.selected {
      border: 0.125rem solid #4a6181;
    }
    i {
      color: #4a6181;
    }
  }
}
.product-sizes {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.125rem;
  border: 1px solid variables.$default-border;
  margin-inline-end: 0.5rem;
  font-size: 0.75rem;
  background-color: variables.$light;
  color: variables.$text-muted;
  &.selected {
    background-color: rgba(var(--success-rgb), 0.1);
    color: variables.$success;
  }
}
.offer-promotion {
  position: relative;
  padding: 0.5rem;
  background-color: rgba(var(--warning-rgb), 0.1);
  border: 1px solid variables.$default-border;
  border-radius: variables.$default-radius;
  .promotion-code {
    color: variables.$default-text-color;
  }
  .offer-details {
    position: absolulte;
    border: 1px dashed variables.$warning;
    padding: 0.25rem 0.5rem;
    border-radius: variables.$default-radius;
  }
}
.ecommerce-assurance {
  border: 1px dashed variables.$success;
  border-radius: variables.$default-radius;
  text-align: center;
  padding: 1rem 1.5rem;
  svg {
    width: 3rem;
    height: 3rem;
  }
}
.product-images {
  padding-inline-start: 1.875rem;
  .products-review-images img {
    width: 3.125rem;
    height: 3.125rem;
    margin-inline-end: 0.25rem;
    border-radius: variables.$default-radius;
    background-color: variables.$light;
  }
}
.similar-products-image {
  img {
    width: 3rem;
    height: 3rem;
    border-radius: variables.$default-radius;
    background-color: variables.$light;
  }
}
.similar-product-name {
  max-width: 80%;
}
/* End:: Product Details */

/* Start:: Cart */
.product-quantity-container {
  width: 8.75rem;
  .input-group {
    input.form-control:focus {
      box-shadow: none;
    }
    .product-quantity-minus, .product-quantity-plus {
      &.btn {
        &:focus, &:hover {
          border-color: variables.$input-border;
        }
      }
    }
  }
  .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 0;
  }
}
.cart-empty svg {
  width: 6.25rem;
  height: 6.25rem;
  margin-block-end: 1.25rem;
  fill: variables.$default-text-color;
}
/* End:: Cart */

/* Start:: Checkout */
.product-checkout {
  .tab-style-2 .nav-item .nav-link {
    padding: 0.85rem 2rem;
  }
  .form-floating {
    input,
    textarea {
      font-size: 0.813rem;
      font-weight: 600;
    }
  }
  .shipping-method-container,
  .payment-card-container {
    position: relative;
    padding: 0.625rem;
    border: 1px solid variables.$input-border;
    border-radius: variables.$default-radius;
    .form-check-input {
      position: absolute;
      inset-inline-end: 0.75rem;
      inset-block-start: 1.2rem;
    }
    @media (min-width: 576px) {
      .shipping-partner-details,
      .saved-card-details {
        width: 12.5rem;
      }
    }
  }
}
.checkout-payment-success {
  text-align: center;
  img {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width:575px) {
  #shipped-tab-pane {
    .btn-group {
      .btn {
        width: 100%;
        border-radius: variables.$default-radius;
      }
    }
  }
}
/* End:: Checkout */

/* Start:: Orders */
.orders-delivery-address {
  width: 75%;
}
.delivery-date {
  width: 60px;
  height: 60px;
  padding: 10px;
  background-color: variables.$primary-005;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  animation-fill-mode: backwards;
}
/* End:: Orders */

/* Start:: Order Details */
.order-track {
  position: relative;
  &:before {
    content: "";
    inset-inline-start: 20px;
    inset-block-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    position: absolute;
    width: 1px;
    border-inline-start: 1px dashed variables.$primary;
    height: 100%;
    opacity: 0.2;
  }
}
/* End:: Order Details */

/* Start:: Add Products & Edit Products */
.add-products {
  .tab-style-2 .nav-item .nav-link {
    padding: 0.85rem 2rem;
  }
}
.color-selection {
  .choices__input {
    width: 6.25rem;
  }
}
.product-image-default {
  width: 100%;
  height: 16.25rem;
}
.productupload-image-container,
.productupload-image-container1,
.productupload-image-container2 {
  .filepond--root[data-style-panel-layout~="circle"] {
    border-radius: variables.$default-radius;
    width: 100%;
  }
  .filepond--drop-label.filepond--drop-label label {
    padding: 2em;
  }
  .filepond--drop-label {
    color: variables.$text-muted !important;
  }
  .filepond--panel-root {
    border: 0.125rem dashed variables.$input-border !important;
  }
  .filepond--root[data-style-panel-layout~="circle"]
    .filepond--image-preview-wrapper {
    border-radius: 0.3rem;
  }
}
.productupload-image-container {
  .filepond--root[data-style-panel-layout~="circle"] {
    height: 16.25rem !important;
  }
  .filepond--drop-label label {
    font-size: 0.75rem;
  }
  .filepond--root[data-style-panel-layout~="circle"]
    .filepond--image-preview-wrapper,
  .filepond--file {
    height: 16.25rem;
  }
}
.productupload-image-container1,
.productupload-image-container2 {
  .filepond--root[data-style-panel-layout~="circle"] {
    height: 7.375rem !important;
  }
  .filepond--drop-label label {
    font-size: 0.75rem;
  }
  .filepond--root[data-style-panel-layout~="circle"]
    .filepond--image-preview-wrapper,
  .filepond--file {
    height: 7.375rem !important;
  }
  .filepond--file [data-align*="bottom"] {
    bottom: 9.125em;
  }
}
.product-img-icon {
  font-size: 1.625rem !important;
  opacity: 0.5;
}
.product-documents-container {
  .filepond--root {
    width: 100%;
  }
  .filepond--panel-root {
    border-color: variables.$input-border !important;
    border-radius: variables.$default-radius;
  }
  .filepond--root .filepond--drop-label {
    label {
      color: variables.$text-muted;
    }
  }
}
#product-features {
  max-height: 21.5rem;
  overflow-y: auto;
  .ql-editor {
    min-height: 11.62rem !important;
    overflow: auto !important;
}
}
/* End:: Add Products & Edit Products */
