@page "/unauthorized"
@layout CustomLayout
<div class="page error-bg" id="particles-js">
    <!-- Start::error-page -->
    <div class="error-page">
        <div class="container">
            <div class="text-center p-5 my-auto">
                <div class="row align-items-center justify-content-center h-100">
                    <div class="col-xl-7">
                        <p class="error-text mb-sm-0 mb-2">401</p>
                        <p class="fs-18 fw-semibold mb-3">@translationState.Translate("Unauthorized_Title")</p>
                        <div class="row justify-content-center mb-5">
                            <div class="col-xl-6">
                                <p class="mb-0 op-7">@translationState.Translate("Unauthorized_Content")</p>
                            </div>
                        </div>
                        <a href="javascript:void(0)" @onclick="@(async () => await jsInterop.InvokeVoidAsync("history.go", -2))" class="btn btn-primary"><i class="ri-arrow-left-line align-middle me-1 d-inline-block"></i>@translationState.Translate("Back")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/libs/particles.js/particles.js"></script>
<script src="../assets/js/error.js"></script>