<li class="dropdown notification-list d-none d-sm-inline-block">
    <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
        <i class="dripicons-view-apps noti-icon"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg p-0">
        <div class="p-2">
            <div class="row g-0">
                <div class="col">
                    <a class="dropdown-icon-item" href="file-manager">
                        <i class="mdi mdi-folder font-24 align-middle app-drive-icon"></i>
                        <span>Drive</span>
                    </a>
                </div>
                <div class="col">
                    <a class="dropdown-icon-item" href="favorite-items">
                        <i class="mdi mdi-star font-24 align-middle app-starred-icon"></i>
                        <span>Starred</span>
                    </a>
                </div>
                <div class="col">
                    <a class="dropdown-icon-item" href="shared-items">
                        <i class="mdi mdi-share-variant font-24 align-middle app-shared-icon"></i>
                        <span>Shared</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</li>